/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//Variables
@color-1: #30c3cc;
@color-2: #2ebdc7;
@color-orange: #cc450a;

.flex{
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: -ms-flexbox; /* ie 10 */
  display:-webkit-flex;
  display: flex;
  &_j{
    &-c{
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    &-fe{
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      -o-justify-content: flex-end;
      -webkit-box-pack: flex-end;
      -ms-flex-pack: flex-end;
      justify-content: flex-end;
    }
    &-fs{
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      -o-justify-content: flex-start;
      -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
      justify-content: flex-start;
    }
    &-sb{
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      -webkit-box-pack: space-between;
      -ms-flex-pack: justify; /* ie 10 */
      justify-content: space-between;
    }
  }
  &_ai{
    &-c{
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align:center; /* ie 10 */
      align-items: center;
    }
    &-fs{
      -webkit-align-items: flex-start;
      -moz-align-items: flex-start;
      -ms-align-items: flex-start;
      -o-align-items: flex-start;
      -webkit-box-align: flex-start;
      -ms-flex-align:flex-start; /* ie 10 */
      align-items: flex-start;
    }
    &-fe{
      -webkit-align-items: flex-end;
      -moz-align-items: flex-end;
      -ms-align-items: flex-end;
      -o-align-items: flex-end;
      -webkit-box-align: flex-end;
      -ms-flex-align:flex-end; /* ie 10 */
      align-items: flex-end;
    }
  }
  &_dir{
    &-col{
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      -webkit-box-orient: vertical; /*ie10*/
      flex-direction: column;
    }
    &-colrev{
      -webkit-flex-direction: column-reverse;
      -moz-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      -o-flex-direction: column-reverse;
      -webkit-box-orient: vertical; /*ie10*/
      -webkit-box-direction: reverse;
      flex-direction: column-reverse;
    }
  }
}
a{
	&:hover{
		color: inherit;
		text-decoration: underline;
		cursor: pointer;
	}
}
.transition{
	&_5{
		-webkit-transition: all .5s ease-in-out;
  	-o-transition: all .5s ease-in-out;
  	transition: all .5s ease-in-out;  
  	&:hover{
		-webkit-transition: all .5s ease-in-out;
  	-o-transition: all .5s ease-in-out;
  	transition: all .5s ease-in-out; 
  	}
	}
	&_3{
		-webkit-transition: all .3s ease-in-out;
  	-o-transition: all .3s ease-in-out;
  	transition: all .3s ease-in-out;  
  	&:hover{
		-webkit-transition: all .3s ease-in-out;
  	-o-transition: all .3s ease-in-out;
  	transition: all .3s ease-in-out; 
  	}
	}
}
.btn{
	padding: 20px 51px;
	border-radius: 5px;
	color: #fff;
	font-family:'Raleway', sans-serif;
	font-size: 1.5em;
	font-weight: 600;
	&:active, &:focus{
		color: #fff;
	}
	&-orange{
		background-color: @color-orange;
	}
	&-green{
		border-radius: 5px;
		padding: 17px 30px;
		background-color: @color-2;
		&:hover{
			background-color: #fff;
			color: @color-2;
		}
	}
	&-border{
		border: 3px solid #fff;
		border-radius: 5px;
		&:hover, &:active, &:focus{
			outline: none;
		}
		&__white{
			border-color: #fff;
			&:hover{
				background-color: #fff;
				color: @color-1;
			}
		}
		&__green{
			border-color: @color-1;
			color: @color-1;;
			padding: 17px 50px;
			&:hover{
				background-color: @color-1;
				color: #fff;	
			}
		}
	}
}
.main-title{
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 2.25em;
	color :#555;
	text-align: center;
}
.video-block{
	max-width: 80%;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 46%;
	.video-block-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    iframe{
    	width: 100%;
    	height: 100%;
    }
	}
}

html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: 'Montserrat';
	font-weight: 400;
}
.bg-layer{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
header{
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	z-index: 10;
}
.header{
	padding-top: 70px;
	.right-block{
		.text{
			a{
				display: block;
				text-align: right;
			}
			.header-phone{
				font-size: 1em;
				font-weight: 300;
				color: #fff;
				margin-bottom: 9px;
			}
			.order-link{
				color: @color-1;
				font-size: 1em;
				font-weight: 300;
			}
		}
	}
}
.section{
	position: relative;
	&-1{
		// padding: 280px 0 116px 0;
		padding-top: 100px;
		min-height: 100%;
		.bg-layer{
			background-image: url(../img/hero-img.jpg);
		}
		.subtitle-1{
			color: @color-2;
			font-size: 1.625em;
			font-weight: 300;
			margin-bottom: 30px;
			text-align: center;
		}
		.title{
			font-family: 'Raleway', sans-serif;
			font-weight: 700;
			font-size: 3.75em;
			color: #fff;
			margin-bottom: 18px;
			text-align: center;
		}
		.subtitle-2{
			font-family: 'Raleway', sans-serif;
			font-size: 3em;
			font-weight: 700;
			color: #fff;
			margin-bottom: 30px;
		}
		.pulse-img{
			max-width: 50%;
			margin-bottom: 30px;
		}
		.list{
			list-style: none;
			font-family: 'Raleway', sans-serif;
			font-weight: 300;
			font-size: 1.25em;
			color: @color-1;
			margin-bottom: 50px;
			li{
				display: inline-block;
				&:not(:last-child){
					&:after{
						content: '';
						margin: 0 12px;
						width: 2px;
						height: 20px;
						background-color: @color-1;
						display: inline-block;
				    vertical-align: middle;		
					}
				}
			}
		}
	}
	&-2{
		background-color: #f7f8fa;
		.block-wrapper{
			padding: 100px 0;
		}
		.title{
			font-size: 1.375em;
			font-family: 'Raleway', sans-serif;
			font-weight: 600;
			color: @color-2;
			margin: 22px 0;
			text-align: center;
		}
		.text{
			text-align: center;
			font-size: 1em;
			font-family: 'Montserrat';
			font-weight: 500;
			color: #000;
			line-height: 1.5em;
		}
	}
	&-3{
		padding: 61px 0 100px 0;
		.main-title{
			display: inline-block;
			width: auto;
		}
		.hr-line{
			display: block;
			margin: 15px auto 0 auto;
			height: 1px;
			width: 80%;
			background-color: @color-2;
			margin-bottom: 36px;
			position: relative;
			&:after{
				content:'';
				position: absolute;
				left: 35%;
				width: 30%;
				height: 2px;
				background-color: @color-2;
			}
		}
		.main-copy-text{
			text-align: center;
			font-size: 1.125em;
			line-height: 1.666666em;
			font-family: 'Raleway', sans-serif;
			font-weight: 500;
			color: #000;
			margin-bottom: 74px;
			max-width: 75%;
		}
		.block{
			padding: 0 40px;
			margin-bottom: 75px;
			.title{
				color: @color-2;
				font-size: 1.25em;
				font-family: 'Raleway', sans-serif;
				font-weight: 600;
				margin-bottom: 20px;
				margin-top: 8px;
			}
			.block-img{
				margin-right: 25px;
			}
			.copy-text{
				font-family: 'Raleway', sans-serif;
				font-weight: 500;
				color: #000;
				font-size: .875em;
				line-height: 1.4285em;
			}
		}
	}
	&-4{
		.bg-layer{
			background-image: url(../img/section-4-bg.jpg);
		}
		.block-wrapper{
			padding: 90px 0 80px 0;
		}
		.main-title{
			font-family: 'Raleway', sans-serif;
			color: #fff;
			margin-bottom: 25px;
			text-align: center;
		}
		.subtitle{
			font-family: 'Raleway', sans-serif;
			font-weight: 500;
			font-size: 1.25em;
			color: #fff;
			margin-bottom: 50px;
			text-align: center;
		}
		.btn{
			padding: 17px 30px;
			font-family: 'Raleway', sans-serif;
			font-size: 1.25em;
			font-weight: 600;
		}
	}
	&-5{
		padding: 117px 0 130px 0;
		.bg-layer{
			background-image: url(../img/section-5-bg.jpg);
		}
		.main-title{
			margin-bottom: 50px;
		}
	}
	&-6{
		padding: 87px 0 115px 0;
		.bg-layer{
			background-image: url(../img/section-6-bg.jpg);
		}
		.main-title{
			color: #80d9de;
			margin-bottom: 37px;
		}
		.list-arrows{
			padding: 0 5%;
			margin-bottom: 66px;
			&-item{
				font-size: 1.25em;
				color: #fff;
				font-family: 'Raleway', sans-serif;
				font-weight: 500;
				margin-bottom: 18px;
				position: relative;
				padding-left: 30px;
				&:last-child{
					margin-bottom: 0;
				}
				&:before{
					content: '';
					display: block;
					position: absolute;
					left: 0px;
					width: 21px;
					height: 21px;
					-webkit-background-size: 100%;
					background-size: 100%;
					background-position: center;
					background-image: url(../img/arrow-white.png)
				}
			}
		}
		.btn-green{
			font-size: 1.25em;
		}
	}
	&-7{
		padding: 150px 0;
		.main-title{
			display: inline-block;
			width: auto;
		}
		.hr-line{
			display: block;
			margin: 15px auto 0 auto;
			height: 1px;
			width: 100%;
			background-color: @color-2;
			margin-bottom: 36px;
			position: relative;
			&:after{
				content:'';
				position: absolute;
				left: 35%;
				width: 30%;
				height: 2px;
				background-color: @color-2;
			}
		}
		.main-copy-text{
			text-align: center;
			font-size: 1.125em;
			line-height: 1.666666em;
			font-family: 'Raleway', sans-serif;
			font-weight: 500;
			color: #000;
			margin-bottom: 74px;
			max-width: 75%;
		}
		.client-logos-wrapper{
			.row{
				margin-bottom: 40px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.client-logo{
			&-img{
				max-width: 100%;
			}
		}
	}
	&-8{
		padding: 87px 0 100px 0;
		.bg-layer{
			background-image: url(../img/section-8-bg.jpg);
		}
		.main-title{
			color: #80d9de;
			margin-bottom: 45px;
		}
		.list-arrows{
			margin-bottom: 0px;
			&-item{
				font-size: 1.25em;
				color: #fff;
				font-family: 'Raleway', sans-serif;
				font-weight: 500;
				margin-bottom: 18px;
				position: relative;
				padding-left: 30px;
				&:last-child{
					margin-bottom: 0;
				}
				&:before{
					content: '';
					display: block;
					position: absolute;
					left: 0px;
					width: 21px;
					height: 21px;
					-webkit-background-size: 100%;
					background-size: 100%;
					background-position: center;
					background-image: url(../img/arrow-white.png)
				}
			}
		}
	}
	&-9{
		padding: 114px 0 126px 0;
		.bg-layer{
			background-image: url(../img/section-9-bg.jpg);
		}
		.main-title{
			margin-bottom: 50px;
		}
		.video-block{
			margin-bottom: 65px;
		}
		.btn-border{
			font-weight: 500;
			font-size: 1.25em;
		}
	}
	&-10{
		padding: 100px 0;
		.bg-layer{
			background-color: #f7f8fa;
		}
		.main-title{
			margin-bottom: 25px;
		}
		.subtitle{
			font-family: 'Montserrat';
			font-size: 1.125em;
			font-weight: 500;
			margin-bottom: 45px;
			text-align: center;
		}
		.order-blocks-wrapper{
			width: 100%;
		}
		.order-block{
			border: 3px solid #e7e7e7;
			border-radius: 5px;
			background-color: #fff;
			position: relative;
			&-wrapper{
				&.top-labeled{
					.order-block{
						&:after{
							content: '';
							display: block;
							position: absolute;
							top: -3px;
							left: -3px;
							width: 20%; 
							height: 80%;
							z-index: 0;
							background-image: url(../img/top-label.png);
							-webkit-background-size: 100% auto;
							background-repeat: no-repeat;
							background-size: 100% auto;
							background-position: top left;
						}
					}
				}
			}
			.block-title{
				text-align: center;
				padding: 15px 0;
				font-family: 'Raleway', sans-serif;
				font-weight: 600;
				font-size: 1.5em;
				text-transform: uppercase;
				color: #010;
				background-color: #f6f6f6;
				border-bottom: 3px solid #e7e7e7;
				margin-bottom: 45px; 
			}
			.order-price{
				font-family: 'Raleway', sans-serif;
				font-weight: 600;
				font-size: 1em;
				text-align: center;
				margin-bottom: 45px; 
				span{
					vertical-align: top;
				} 
				.price{
					font-family: 'Montserrat';
					font-size: 3.4375em;
					font-weight: 600;
					color: #010;
					line-height: .8em;
					margin: 0 5px;
				}
			}
			.copy-text{
				margin-bottom: 50px;
				p{
					font-family: 'Raleway', sans-serif;
					font-weight: 500;
					font-size: 1em;
					margin-bottom: 15px;
					color: #000;
					text-align: center;
				}
			}
			.btn-wrapper{
				width: 100%;
				padding: 0 15px 15px 15px;
			}
			.btn-border__green{
				width: 100%;
				text-transform: uppercase;
				outline: none;
				padding-top: 17px;
				padding-bottom: 17px;
				padding-left: 0;
				padding-right: 0;
				&:hover{
					background-color: #e6feff;
					color: @color-1; 
				}
			}
		}
	}
	&-11{
		.bg-layer{
			background-image: url(../img/section-11-bg.jpg);
		}
		.block-wrapper{
			padding: 100px 0;
		}
		.main-title{
			font-family: 'Raleway', sans-serif;
			color: #fff;
			margin-bottom: 25px;
		}
		.subtitle{
			font-family: 'Raleway', sans-serif;
			font-weight: 500;
			font-size: 1.25em;
			color: #fff;
			margin-bottom: 50px;
			text-align: center;
		}
		.btn{
			padding: 17px 30px;
			font-family: 'Raleway', sans-serif;
			font-size: 1.25em;
			font-weight: 600;
		}
	}
	&-12{
		.bg-layer{
			background-image: url(../img/map-bg.jpg);
		}
		.main-title{
			color: #000;
			margin-bottom: 22px;
		}
		.contacts-block{
			padding-top: 50px;
			padding-bottom: 50px;
			padding-left: 15%;
			padding-right: 15%;
			background-color: #fff;
		}
		.contact-copy{
			font-size: 1em;
			color: #000;
			font-family: 'Raleway', sans-serif;
			font-weight: 500;
			margin-bottom: 32px;
			&-4{
				margin-bottom: 0;
			}
		}
		.phone{
			font-size: 1.5em;
			font-family: 'Montserrat';
			font-weight: 600;
			color: #000;
			margin-bottom: 20px; 
			display: block;
		}
	}
}

.main-footer{
	padding: 40px 0 44px 0;
	background-color: #000;
	.footer-copyright{
		font-family: 'Montserrat';
		font-size: .875em;
		color: #fff;
		text-align: center;
	}
}

@media screen and (max-width: 992px){
	.header{
		.left-block{
			padding-left: 15px;
		}
		.block-wrapper{
			&:after{
				display: none;
			}
			&:before{
				display: none;
			}
		}
	}
	.section{
		&-3{
			padding: 60px 0;
		}
		&-5{
			padding: 60px 0;
		}
		&-7{
			padding: 75px 0;
			.main-copy-text{
				max-width: 100%;
			}
		}
		&-9{
			padding: 60px 0;
		}
		&-10{
			padding: 60px 0;
			.order-blocks-wrapper{
				font-size:80%;
			}
		}
	}
}

@media screen and (max-width:768px){
	.xs{
    &_flex{
      -webkit-display: flex;
      -moz-display: flex;
      -ms-display: flex;
      -o-display: flex;
      display: -webkit-box;
      display: -ms-flexbox; /* ie 10 */
      display:-webkit-flex;
      display: flex;
      &_j{
        &-c{
          -webkit-justify-content: center;
          -moz-justify-content: center;
          -ms-justify-content: center;
          -o-justify-content: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
        }
        &-fe{
          -webkit-justify-content: flex-end;
          -moz-justify-content: flex-end;
          -ms-justify-content: flex-end;
          -o-justify-content: flex-end;
          -webkit-box-pack: flex-end;
          -ms-flex-pack: flex-end;
          justify-content: flex-end;
        }
        &-fs{
          -webkit-justify-content: flex-start;
          -moz-justify-content: flex-start;
          -ms-justify-content: flex-start;
          -o-justify-content: flex-start;
          -webkit-box-pack: flex-start;
          -ms-flex-pack: flex-start;
          justify-content: flex-start;
        }
        &-sb{
          -webkit-justify-content: space-between;
          -moz-justify-content: space-between;
          -ms-justify-content: space-between;
          -o-justify-content: space-between;
          -webkit-box-pack: space-between;
          -ms-flex-pack: justify; /* ie 10 */
          justify-content: space-between;
        }
      }
      &_ai{
        &-c{
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          -o-align-items: center;
          -webkit-box-align: center;
          -ms-flex-align:center; /* ie 10 */
          align-items: center;
        }
        &-fs{
          -webkit-align-items: flex-start;
          -moz-align-items: flex-start;
          -ms-align-items: flex-start;
          -o-align-items: flex-start;
          -webkit-box-align: flex-start;
          -ms-flex-align:flex-start; /* ie 10 */
          align-items: flex-start;
        }
      }
      &_dir{
        &-col{
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          -o-flex-direction: column;
          -webkit-box-orient: vertical; /*ie10*/
          flex-direction: column;
        }
        &-colrev{
          -webkit-flex-direction: column-reverse;
          -moz-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
          -o-flex-direction: column-reverse;
          -webkit-box-orient: vertical; /*ie10*/
          -webkit-box-direction: reverse;
          flex-direction: column-reverse;
        }
        &-row{
          -webkit-flex-direction: row;
          -moz-flex-direction: row;
          -ms-flex-direction: row;
          -o-flex-direction: row;
          -webkit-box-orient: horizontal;
          flex-direction: row;
        }
      }
    }
	}
	body{
		font-size: 13px;
	}
	.header{
		padding-top: 35px;
		.left-block{
			padding-left: 15px;
		}
		&-logo{
			img{
				max-width: 120px;
			}
		}
	}
	.section{
		&-1{
			padding: 100px 0 50px 0;
			.title{
				font-size: 3.5em;
			}
			.subtitle-2{
				font-size: 2.75em;
			}
		}
		&-2{
			.block-wrapper{
				padding: 50px 0;
			}
			.block{
				margin-bottom: 30px;
			}
		}
		&-3{
			.main-copy-text{
				max-width: 100%;
			}
			.blocks{
				.block{
					margin-bottom: 50px;
					&-6{
						margin-bottom: 0;
					}
				}
			}
		}
		&-4{
			.block-wrapper{
				padding: 60px 0;
			}
		}
		&-6{
			padding: 60px 0;
		}
		&-8{
			padding: 60px 0;
		}
		&-10{
			.order-blocks-wrapper{
				font-size: 100%;
			}
			.order-block-wrapper{
				margin-bottom: 20px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		&-11{
			.block-wrapper{
				padding: 60px 0;
			}
		}
	}
}

@media screen and (max-width: 320px){
	.section{
		&-1{
	    font-size: 70%;
		}
	}
}